
/* ALL PAGES */
.spot-logo img {
  
  width: 40px;
 
 }

/* SUGGESTION PARTIAL */
 .album-art { 
  width: 100px;
  height: 100px;
 }
 

.fa {
  font-size: 2rem !important;
  color: red;
}

.fa-heart:hover {
  cursor: pointer;
 }