
/* ALL PAGES */

.spotify-banner {
  text-align: right; 
}
.spotify-banner img {
  
  width: 75px;
 
 }

/* SUGGESTION PARTIAL */
 .album-art { 
  width: 100px;
  height: 100px;
 }

.fa {
  font-size: 2rem !important;
  color: red;
}

.fa-heart:hover {
  cursor: pointer;
 }
